/*
 * This file modified from https://github.com/sidpagariya/sidpagariya.github.io/blob/master/assets/css/main.css.
 */

body.loading * {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

/* Icon */
.icon {
	text-decoration: none;
	position: relative;
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}
icon:hover {
	border-color: transparent;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon > .label {
	display: none;
}

/* socialLinks */
@-moz-keyframes socialLinks {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes socialLinks {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes socialLinks {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes socialLinks {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-moz-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#socialLinks {
	-moz-animation: socialLinks 1s 0s forwards;
	-webkit-animation: socialLinks 1s 0s forwards;
	-ms-animation: socialLinks 1s 0s forwards;
	animation: socialLinks 1s 0s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	cursor: default;
	opacity: 0;
	position: relative;
	text-align: center;
	top: -2em; /* There has to be a better way */
	vertical-align: middle;
	margin: auto;
}
#socialLinks nav {
	margin: 1.5em 0 0 0;
}

#socialLinks nav li {
	-moz-animation: nav-icons 0.5s ease-in-out forwards;
	-webkit-animation: nav-icons 0.5s ease-in-out forwards;
	-ms-animation: nav-icons 0.5s ease-in-out forwards;
	animation: nav-icons 0.5s ease-in-out forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	display: inline-block;
	width: var(--circle-size);
	height: var(--circle-size);
	line-height: 5.885em;
	opacity: 0;
	position: relative;
	top: 0;
}

#socialLinks nav a {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	border: 0;
	display: inline-block;
}

:root {
	--icon-height: 1.5em;
	--circle-size: 49px;
}
#socialLinks nav a:before {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	display: block;
	font-size: 1.75em;
	width: var(--icon-height);
	height: var(--icon-height);
	line-height: var(--icon-height);
	position: relative;
	text-align: center;
	top: 0;
}

#socialLinks nav a:hover {
	font-size: 1.1em;
}
#socialLinks nav a:hover:before {
	background-color: rgba(255, 255, 255, 0.175);
	color: #fff;
}

#socialLinks nav a:active {
	font-size: 0.95em;
	background: none;
}
#socialLinks nav a:active:before {
	background-color: rgba(255, 255, 255, 0.35);
	color: #fff;
}

#socialLinks nav a span {
	display: none;
}