* {
  padding: 0;
  margin: 0;
  font-family: Courier New;
}

body {
  background-color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* #################
        MATRIX
   ################# */

canvas {
  display: block;
  z-index: -99;
  font-size: 10px;
}

#intro {
  color: white;
  /*font-family: Courier New;*/
  font-size: 28px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  text-align: center;
}

#arrow {
  position: absolute;
  width: 100%;
  top: 96%;
  transform: perspective(1px) translateY(-50%);
  text-align: center;
}

#arrow img {
  width: 80px;
  height: 74px;
}

/* TODO: Tweak this a little further for breakpoints */
@media only screen and (max-width: 750px) {
  canvas {
    width: 100%;
    height: 100%;
    font-size: 8.5px !important;
  }

  #triangle {
    width: 75px;
    height: 75px;
  }

  #intro {
    font-size: 20px;
  }

  #aboutme {
    width: 85% !important;
  }
  #description {
    /* TODO: Work on sizing here and normally; can't decide */
    font-size: 17px;
  }
  #profilePreview {
    width: 100% !important;
  }
  #mediumFeed {
    margin: 0 !important;
    margin-bottom: 25px !important;
    width: 100% !important;
  }
  #feedTitle {
    text-align: center;
  }
}

section {
  /* TODO: Make this work better for when viewing desktop mode on mobile */
  min-height: 100vh; /* TODO: Work on height for mobile sections, because arrow is below screen */
  width: 100vw;
}

/* #################
       ABOUT ME
   ################# */

#aboutme {
  color: white;
  width: 80%;
  margin: auto;
}
#profilePreview {
  margin-top: 25px;
  width: 300px;
  display: inline-block;
}
#featureImg {
  width: 100%;
}
#description {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  #mediumFeed {
    /* TODO: Center the section content with this applied still */
    width: 60% !important;
  }
}
#mediumFeed {
  display: inline-block;
  vertical-align: top;
  width: calc(95% - 325px);
  margin-top: 25px;
  margin-left: 50px;
}

#feedTitle {
  margin-bottom: 12.5px;
}
.rss-title {
  color: #0f0; /* TODO: Pick something better here */
}
.rss-box {
  border: 2px solid blueviolet;
}
.rss-items {
  margin-bottom: 12.5px;
}
.rss-items li {
  list-style: none;
  margin-top: 12.5px;
  margin-left: 12.5px;
  margin-right: 7.5px;
}
.rss-item a {
  color: #0F0;
}
.rss-date {
  color: gray;
}
.medium-feed-link, .medium-feed-image img {
  display: none;
}
.medium-feed-item {
  width: 100%;
}
.medium-feed-image img {
  /* Hiding at least temporarily until the images can look good */
  width: 150px;
  height: 100px;
}

#information {
  margin-top: 10px;
  padding-bottom: 50px;
}
#information p {
  margin-bottom: 20px;
}
#information a, #information a:visited {
  color: lightcoral;
}

/* #################
         STEAM
   #################

#steam {
  background-color: #00adee;
  margin-top: 200%;
  height: 100%;
}

#profilePhoto {
  border: 2px solid blue;
  display: inline-block;
}

*/
