* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  overflow-x: hidden;
}

#container {
  overflow: hidden;
}

canvas {
  display: block;
  z-index: -99;
}

/* TODO: Fix the falling letter size on mobile. Change word size? */
@media only screen and (max-device-width: 600px) {
  canvas {
    width: 100%;
    height: 100%;
  }

  #triangle {
    width: 140px;
    height: 140px;
  }
}

#intro {
  color: white;
  font-family: Courier New;
  font-size: 28px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  text-align: center;
}
